* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  position: relative;
  background: #5c6bc0;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 1.854em;
  width: 100vw;
}
button {
  align-items: center;
  background: none;
  border: #f06292 4px solid;
  border-radius: 50%;
  display: flex;
  height: 3em;
  justify-content: center;
  margin-bottom: 1.146em;
  outline: none;
  position: relative;
  transition: 0.3s background ease-in-out;
  width: 3em;
  z-index: 1;
}
button:hover {
  background: #fce4ec;
}
button:active {
  background: #f8bbd0;
}
div {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}
.isolation {
  height: 100%;
  isolation: isolate;
  width: 100%;
}
.physical-border-1,
.physical-border-2,
.physical-border-3 {
  mix-blend-mode: lighten;
  border-radius: 50%;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@keyframes physical-border-1-border {
  from {
    border: #ef5350 0 solid;
  }
  to {
    border: #ef5350 6px solid;
  }
}
@keyframes physical-border-2-border {
  from {
    border: #fff176 0 solid;
  }
  to {
    border: #fff176 6px solid;
  }
}
@keyframes physical-border-3-border {
  from {
    border: #03a9f4 0 solid;
  }
  to {
    border: #03a9f4 6px solid;
  }
}
.physical-border-1 {
  animation: 0.3s ease-in-out physical-border-1-border;
  border: #ef5350 6px solid;
}
.physical-border-2 {
  animation: 0.3s ease-in-out physical-border-2-border;
  border: #00e676 6px solid;
}
.physical-border-3 {
  animation: 0.3s ease-in-out physical-border-3-border;
  border: #03a9f4 6px solid;
}
@keyframes ScaleOut {
  from {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
}
.comic-main {
  z-index: 1;
  pointer-events: none;
}
.comic-balloon {
  animation: 0.5s cubic-bezier(0.325, 0.005, 0.000, 0.995) ScaleOut;
  background: url("assets/explode.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.comic-text {
  position: relative;
  height: 4em;
  width: 4em;
  font-size: 4em;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
  font-weight: bold;
  color: #ff9800;
}
#Backgrounds {
  left: 50%;
  position: absolute;
  top: 50%;
}
#Background-1,
#Background-2,
#Background-3,
#Background-4,
#Background-5,
#Background-6,
#Background-7 {
  border: #424242 3px solid;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(20, 20, 20, 0.3),
              0 5px 10px rgba(20, 20, 20, 0.3);
}
#Background-1 {
  background: #ef5350;
  height: 80vmax;
  width: 80vmax;
}
#Background-2 {
  background: #ff7043;
  height: 49.44vmax;
  width: 49.44vmax;
}
#Background-3 {
  background: #ffca28;
  height: 30.55vmax;
  width: 30.55vmax;
}
#Background-4 {
  background: #7e57c2;
  height: 18.88vmax;
  width: 18.88vmax;
}
#Background-5 {
  background: #29b6f6;
  height: 11.67vmax;
  width: 11.67vmax;
}
#Background-6 {
  background: #9ccc65;
  height: 7.21vmax;
  width: 7.21vmax;
}
#Background-7 {
  background: url(assets/eye.svg);
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 61.8%;
  height: 4.46vmax;
  width: 4.46vmax;
}
.center-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column-inside {
  flex-direction: column;
}
.screen-size {
  height: 100vh;
  width: 100vw;
}
.absolute-top-left {
  left: 0;
  position: absolute;
  top: 0;
}
.saves-list-hexagon {
  position: relative;
  color: #000;
  font-weight: bold;
  font-size: 6.18vw;
  width: 14.27209865vw; /* 2*h/sqrt(3) */
  height: 12.36vw;
}
.saves-list-hexagon {
  background: url(assets/saves-list-hexagon-empty.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.saves-list-hexagon-active {
  background: url(assets/saves-list-hexagon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.saves-list-hexagon:nth-child(2n) {
  margin: 0 -3.568024663vw; /* h/sqrt(3)/2 */
  margin-top: 6.18vw;
}
.hexagon-row {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.hexagon-row:not(:first-child) {
  margin-top: -6.18vw;
}
.hidden {
  display: none;
}
