* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 1.854em;
  width: 100vw;
}
button {
  align-items: center;
  background: none;
  border: #f06292 4px solid;
  border-radius: 50%;
  display: flex;
  height: 3em;
  justify-content: center;
  margin-bottom: 1.146em;
  outline: none;
  position: relative;
  transition: 0.3s background ease-in-out;
  width: 3em;
  z-index: 2;
}
button:hover {
  background: #fce4ec;
}
button:active {
  background: #f8bbd0;
}
div {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}
.isolation {
  height: 100%;
  isolation: isolate;
  width: 100%;
}
.physical-border-1,
.physical-border-2,
.physical-border-3 {
  mix-blend-mode: lighten;
  border-radius: 50%;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@keyframes physical-border-1-border {
  from {
    border: #ef5350 0 solid;
  }
  to {
    border: #ef5350 6px solid;
  }
}
@keyframes physical-border-2-border {
  from {
    border: #fff176 0 solid;
  }
  to {
    border: #fff176 6px solid;
  }
}
@keyframes physical-border-3-border {
  from {
    border: #03a9f4 0 solid;
  }
  to {
    border: #03a9f4 6px solid;
  }
}
.physical-border-1 {
  animation: 0.3s ease-in-out physical-border-1-border;
  border: #ef5350 6px solid;
}
.physical-border-2 {
  animation: 0.3s ease-in-out physical-border-2-border;
  border: #00e676 6px solid;
}
.physical-border-3 {
  animation: 0.3s ease-in-out physical-border-3-border;
  border: #03a9f4 6px solid;
}
@keyframes ScaleOut {
  from {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
}
.comic-main {
  z-index: 1;
}
.comic-balloon {
  animation: 0.5s cubic-bezier(0.325, 0.005, 0.000, 0.995) ScaleOut;
  background: url("assets/explode.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.comic-text {
  position: relative;
  height: 4em;
  width: 4em;
  font-size: 4em;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
  font-weight: bold;
  color: #ff9800;
}
#Backgrounds {
  background: #5c6bc0;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}
#Backgrounds div {
  border: #424242 3px solid;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 10px rgba(20, 20, 20, 0.3),
              0 5px 10px rgba(20, 20, 20, 0.3);
}
#Background-1 {
  background: #ef5350;
  height: 80vmax;
  width: 80vmax;
}
#Background-1 div {
  height: 61.8%;
  width: 61.8%;
}
#Background-2 {
  background: #ff7043;
}
#Background-3 {
  background: #ffca28;
}
#Background-4 {
  background: #7e57c2;
}
#Background-5 {
  background: #29b6f6;
}
#Background-6 {
  background: #9ccc65;
}
#Background-7 {
  background: url(assets/eye.svg);
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 61.8%;
}
